
<!--    <button (click)="signOut()" class="btn btn-success Facebook">Sign Out</button>-->

    <div class="payment-form">


    <form role="form"  [formGroup]="productForm" (ngSubmit)="submit()" method="post" enctype="text/plain">
      <div class="input-field">
        <div class="col-md-12">
           <select  (change)="changeProduct($event)" class="form-control"     id="FeeItemId" formControlName="FeeItemId"  ><option value="">Select fee item</option>


            <option *ngFor="let product of productData; let i = index" [ngValue]="product.id" >
              {{productData[i].name}}
            </option>

          </select>
          <div *ngIf="productForm.controls['FeeItemId'].invalid && (productForm.controls['FeeItemId'].dirty || productForm.controls['FeeItemId'].touched)" class="alert-danger">
            <div *ngIf="productForm.controls['FeeItemId'].errors.required">
             Payment Item is required
            </div>
          </div>
        </div>
      </div>

      <div class="input-field">
        <div class="col-md-12">

          <input class="form-control input-lg"     formControlName="Amount"  autocomplete="off"    placeholder="Amount"    required="" type="number"   />
        </div>
        <div *ngIf="productForm.controls['Amount'].invalid && (productForm.controls['Amount'].dirty || productForm.controls['Amount'].touched)" class="alert-danger">
          <div *ngIf="productForm.controls['Amount'].errors.required">
           Amount is required
          </div>
        </div>
      </div>



      <input class="btn proceed-btn"  *ngIf="productForm.valid"   value="Proceed" type="Submit"   >
    </form>

  </div>


